<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This web-app was created by Rabinson Thapa.<br>
            It uses APIs from mapbox.com and weatherstacks.com.<br>
            Site was made using NodeJs and ExpressJs.<br>
        </p>
    </div>
    {{>footer}}
</body>
</html>