<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
</head>

<body>
    <div class="main-content">{{>header}}
        <p>
            Hello,<br/>
            You can contact me through here.<br/><br/>
            <input type="email" size="25%" placeholder="Enter your email here"><br><br/>
            <textarea name="help_message" id="messageBox" cols="50" rows="10" placeholder="Enter your message here"></textarea><br/><br/>
            <button>Submit</button>
        </p>
    </div>
    {{>footer}}
</body>

</html>